<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head (titulo='Metodo de pago')"></head>
<body>
    <!-- Si el usuario está logueado, incluye el Navbar normal -->
    <div th:if="${usuario != null}">
        <!-- Recuperamos el objeto "usuarios" que nos pasa el Controller y usamos sus atributos, pasandolos al NavBar -->
        <div th:replace="fragments :: navbar(userName=${usuario} ? ${usuario.getNombre()} : '',
                         userId=${usuario} ? ${usuario.getId()} : '',
                         admin=${usuario} ? ${usuario.isAdmin()} : '')"></div>
    </div>

    <!-- Si el usuario no está logueado, incluye el Navbar para no logueados -->
    <div th:if="${usuario == null}">
        <div th:replace="fragments :: navbar_noLogueado"></div>
    </div>
    <h2 >Checkout</h2>
    <!-- respuesta de la API -->
    <p th:if="${respuestaAPI != null}" th:text="${'Respuesta de la API: ' + respuestaAPI}"></p>

    <!-- boton de hacer peticiones get -->
    <a th:href="@{/tiendaropa/compra/checkout}" class="btn btn-primary mt-3">Ver todas transacciones</a>

    <!-- Botón de peticiones post-->
    <form th:action="@{/tiendaropa/envios}" method="post">
        <button type="submit" class="btn btn-primary mt-3">Crear envio</button>
    </form>

</body>
</html>