<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head (titulo='Envios')"></head>
<body>
<!-- Si el usuario está logueado, incluye el Navbar normal -->
<div th:if="${usuario != null}">
    <!-- Recuperamos el objeto "usuarios" que nos pasa el Controller y usamos sus atributos, pasandolos al NavBar -->
    <div th:replace="fragments :: navbar(userName=${usuario} ? ${usuario.getNombre()} : '',
                         userId=${usuario} ? ${usuario.getId()} : '',
                         admin=${usuario} ? ${usuario.isAdmin()} : '')"></div>
</div>

<!-- Si el usuario no está logueado, incluye el Navbar para no logueados -->
<div th:if="${usuario == null}">
    <div th:replace="fragments :: navbar_noLogueado"></div>
</div>
<h2 >Todos los envios</h2>
<!-- respuesta de la API -->
<p th:if="${respuestaAPI != null}" th:text="${'Todos los envíos: ' + respuestaAPI}"></p>

</body>
</html>